 /* width */
 ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c92b4d;
}

.typewriter p {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}


.typewriter2 h1 {
    overflow: hidden;
    color: rgb(0, 0, 0);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}


a {
    color: #E3496B;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #E3496B;
}

h2 {
    color: rgb(0, 0, 0);
    transition: 0.3s;
}

h2:hover {
    color: #E3496B;
}

i {
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-right: 20px;
    transition: 0.3s;
}

i:hover {
    color: #E3496B;
}

#projeto:hover
{
    box-shadow: 5px 10px #ff0000;
}

.nav_top a
{
    color: #E3496B;
    transition: 0.5s;
}

.nav_top a:hover
{
    color: #E3496B;
    border-bottom: 1px solid #E3496B;
}

.wave {
animation-name: wave-animation;
animation-duration: 2s;
animation-iteration-count: infinite;
transform-origin: 70% 70%;
display: inline-block;
}

@keyframes wave-animation {
0% { transform: rotate( 0.0deg) }
10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
20% { transform: rotate(-8.0deg) }
30% { transform: rotate(14.0deg) }
40% { transform: rotate(-4.0deg) }
50% { transform: rotate(10.0deg) }
60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
100% { transform: rotate( 0.0deg) }
}


#teste_1
{
    margin: auto;
}

.down_up {
    animation: MoveUpDown 1s linear infinite;
    position: relative;
    left: 0;
    bottom: 0;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 5px;
    }
  }
